

<div class="container mt-3">
  <div class="row">
    <div
      class="col-sm col-md col-lg col-xl col-xxl border-top border-right border-bottom pl-0"
      style="background-image: linear-gradient(to bottom, rgba(219, 138, 138, 0.6) 50%,rgba(255,255,255,0.9) 150%), url(IMG/wham.jpg); 
        background-size: cover; 
        background-position: center;"
    >
      <div class="media">
        <img
          class="align-self-center mr-3"
          src="IMG/sidebar-placeholder.png"
          alt="Generic placeholder image"
        />
        <div
          class="media-body align-self-center font-weight-light"
          style="font-size: 1.2rem;"
        >
          <div class="border-top border-bottom">

            <h5 class="mt-0">Center-aligned media</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
          </div>
          <div class="border-top border-bottom">
            <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna
              mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis
              dis parturient montes, nascetur ridiculus mus.</p>
          </div>
          <div class="col text-center mt-4">
            <button type="submit" class="btn btn-primary">Remove From Collection</button>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-deck mt-4">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a
        natural lead-in to additional content. This content is a little bit
        longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural
        lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a
        natural lead-in to additional content. This card has even longer content
        than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<script src="../public/javascript/collections.js"></script>