<div
  class="jumbotron"
  style="background-image: linear-gradient(to bottom, rgba(171,183,183,0.6) 30%, rgba(171,183,183,0.8) 100%)"
  {{! style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(IMG/marvel.jpg); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;" }}
>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm col-md col-lg col-xl col-xxl mr-5">
        <h2>Collecting Made Simple</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
          veritatis facere enim nam vel eaque sint commodi id quia in magnam at,
          doloremque quam, molestias eligendi minus soluta est dolorem! Lorem,
          ipsum dolor sit amet consectetur adipisicing elit. Ab, distinctio a
          illum eos odio cumque voluptates iusto, quam hic quod libero neque
          sunt atque eligendi voluptatem ut cum odit non.</p>
      </div>
      <div
        class="col-sm col-md col-lg col-xl col-xxl p-2 rounded"
        style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 50%,rgba(255,255,255,0.9) 150%), url(IMG/split.jpg); 
        background-size: cover; 
        background-position: center;"
      >
        {{! style="background-image: url('IMG/lightning.jpg')"> }}
        <h2 class="text-center">Sign up today!</h2>
        <h4 class="text-center font-bold">fill out the form to create an account</h4>
        <form class="signup-form">
          <div class="mb-3">
            <label for="username-signup" class="form-label">Username:</label>
            <input
              type="text"
              class="form-control"
              id="username-signup"
              placeholder="Stan Lee"
            />
          </div>
          <div class="mb-3">
            <label for="email-signup" class="form-label">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email-signup"
              placeholder="email@address.com"
            />
          </div>
          <div class="mb-2">
            <label for="password-signup" class="form-label">Password:</label>
            <input
              type="password"
              class="form-control"
              id="password-signup"
              placeholder="Password"
            />
          </div>
          <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
            </div>
          </div>
          <div class="col text-center">
            <button type="submit" class="btn btn-light">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div
      class="col-sm col-md col-lg col-xl col-xxl border-top border-right border-bottom pl-0"
      style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 50%,rgba(255,255,255,0.9) 150%), url(IMG/wham.jpg); 
        background-size: cover; 
        background-position: center;"
    >
      <div class="media">
        <img
          class="align-self-center mr-3"
          src="IMG/sidebar-placeholder.png"
          alt="Generic placeholder image"
        />
        <div
          class="media-body align-self-center font-weight-light"
          style="font-size: 1.2rem;"
        >
          <div class="border-top border-bottom">

            <h5 class="mt-0">Center-aligned media</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
          </div>
          <div class="border-top border-bottom">
            <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna
              mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis
              dis parturient montes, nascetur ridiculus mus.</p>
          </div>
          <div class="col text-center mt-4">
            <button type="submit" class="btn btn-primary">Add to Collection</button>
            <button type="submit" class="btn btn-primary">Add to Wish List</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div
      class="col-sm col-md col-lg col-xl col-xxl border-top border-right border-bottom pl-0"
      style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 50%,rgba(255,255,255,0.9) 150%), url(IMG/wham.jpg); 
        background-size: cover; 
        background-position: center;"
    >
      <div class="media">
        <img
          class="align-self-center mr-3"
          src="IMG/sidebar-placeholder.png"
          alt="Generic placeholder image"
        />
        <div
          class="media-body align-self-center font-weight-light"
          style="font-size: 1.2rem;"
        >
          <div class="border-top border-bottom">

            <h5 class="mt-0">Center-aligned media</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
          </div>
          <div class="border-top border-bottom">
            <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna
              mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis
              dis parturient montes, nascetur ridiculus mus.</p>
          </div>
          <div class="col text-center mt-4">
            <button type="submit" class="btn btn-primary">Add to Collection</button>
            <button type="submit" class="btn btn-primary">Add to Wish List</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/signup.js"></script>

{{! <div class="container">
  <div class="row">
    <div class="col-sm col-md col-lg col-xl col-xxl">
      <div class="card" style="width: 18rem;">
        <img
          class="card-img-top"
          src="IMG/sidebar-placeholder.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm col-md col-lg col-xl col-xxl">
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
</div> }}
{{! <h1>Comic Search</h1>
<div class="topnav">
  <input type="text" placeholder="Search.." id="input">
  <input type="submit" value="submit" id="srchbtn">
</div>
<section id="home-info" class="bg-dark">
  <div class="info-img"></div>
  <div class="info-content">
    <h2><span class="text-primary">DC </span> COMICS</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis nulla
      sint libero doloribus eveniet nostrum modi ipsam magnam nisi commodi
      dolorem id, sit obcaecati dolorum voluptate. Soluta, illo similique.
      Accusantium saepe architecto voluptates cupiditate nulla doloribus autem!
      Laborum, assumenda est.
    </p>
    <a href="about.html" class="btn btn-light">Read more</a>
  </div>
</section>
<section id="features">
  <div class="box bg-light">
    <i class=""></i>
    <h3></h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam aut
      porro repudiandae, doloremque dignissimos quidem fugit totam eius, est
      impedit provident fugiat explicabo omnis unde neque excepturi laudantium
      id iste aliquam quas soluta? Tempora harum labore culpa sunt? Laborum
      quasi facere quidem non et fuga aliquid vero dolorem quam molestias!
    </p>
  </div>
  <div class="box bg-primary">
    <i class=""></i>
    <h3></h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis veniam
      eos rem. Velit quidem reiciendis doloribus cupiditate ut alias eos
      inventore voluptate vero nihil, tempore placeat sint deserunt, perferendis
      aliquam voluptatum iste. Id tempora voluptatem veritatis dicta earum
      totam, ratione a incidunt voluptate, dolorum exercitationem, molestiae
      nostrum ipsa iure voluptates.
    </p>
  </div>
  <div class="box bg-light">
    <i class=""></i>
    <h3></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum tenetur
      nesciunt mollitia? Culpa, hic accusantium deserunt necessitatibus natus
      beatae in ipsam aspernatur voluptatum architecto similique placeat
      eligendi tempora possimus sapiente explicabo mollitia laborum temporibus
      omnis iusto consequuntur modi aliquid. Possimus similique nesciunt quaerat
      totam iste sint libero nostrum aliquam tenetur?
    </p>
  </div>
</section>
<div class="div clr"></div>
 }}
{{! 
<footer id="main-footer">
  <p>Comic-collector &copy; 2021 all rights reserved</p>
</footer> }}