<section id="home-info" class="bg-dark">
  <div class="info-img"></div>
  <div class="info-content">
    <h2><span class="text-primary">DC </span> COMICS</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis nulla
      sint libero doloribus eveniet nostrum modi ipsam magnam nisi commodi
      dolorem id, sit obcaecati dolorum voluptate. Soluta, illo similique.
      Accusantium saepe architecto voluptates cupiditate nulla doloribus autem!
      Laborum, assumenda est.
    </p>
    <a href="about.html" class="btn btn-light">Read more</a>
  </div>
</section>
<section id="features">
  <div class="box bg-light">
    <i class=""></i>
    <h3></h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam aut
      porro repudiandae, doloremque dignissimos quidem fugit totam eius, est
      impedit provident fugiat explicabo omnis unde neque excepturi laudantium
      id iste aliquam quas soluta? Tempora harum labore culpa sunt? Laborum
      quasi facere quidem non et fuga aliquid vero dolorem quam molestias!
    </p>
  </div>
  <div class="box bg-primary">
    <i class=""></i>
    <h3></h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis veniam
      eos rem. Velit quidem reiciendis doloribus cupiditate ut alias eos
      inventore voluptate vero nihil, tempore placeat sint deserunt, perferendis
      aliquam voluptatum iste. Id tempora voluptatem veritatis dicta earum
      totam, ratione a incidunt voluptate, dolorum exercitationem, molestiae
      nostrum ipsa iure voluptates.
    </p>
  </div>
  <div class="box bg-light">
    <i class=""></i>
    <h3></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum tenetur
      nesciunt mollitia? Culpa, hic accusantium deserunt necessitatibus natus
      beatae in ipsam aspernatur voluptatum architecto similique placeat
      eligendi tempora possimus sapiente explicabo mollitia laborum temporibus
      omnis iusto consequuntur modi aliquid. Possimus similique nesciunt quaerat
      totam iste sint libero nostrum aliquam tenetur?
    </p>
  </div>
</section>
<div class="div clr"></div>
<footer id="main-footer">
  <p>Comic-collector &copy; 2021 all rights reserved</p>
</footer>