* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Bangers", cursive;
  font-size: 1.1rem;
}
#comicImg {
  height: 300px;
  width: 200px;
}
#cardEl {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0.9) 150%
    ),
    url(../IMG/wham.jpg);
  background-size: cover;
  background-position: center;
}
#dailyComic{
  height: 300px;
  width: 200px;
}
/* #liCon{
  font-size: 1.2rem;
  border-top: 1px black;
  border-bottom:1px black ;
} */
